.affix {
      top: 0;
      width: 100%;
         z-index: 100;
  }

section h1,section p{
    font-family: 'Comfortaa', cursive;

}

section{
    padding: 15px;
}

section#contact{
    clear:both;
    background-color:#088 ;
    color:black;
}

nav, .navbar{
    border-radius: 0;
    background-color:rgba(165,0,82,0.8); 
    
    margin-bottom: 0px;
    border:0px;
}

#navbar li a{
    font-family: 'Comfortaa', cursive;
    font-size: 1.2em;
    color:black;
}


header {
    margin-top: -20px;
    margin-left: 100px;
   
}

header h1{
    padding-top: 6px;
    margin-left: -35px;
    white-space: pre-wrap;
    font-family: 'Poiret One', cursive;
    text-decoration: underline;
    color:#088;  
    font-size: 1.8em;
    line-height: 1.5em
}



header h2{
    color:#088;
    font-family: 'Comfortaa', cursive;
    font-size: 0.95em;
    margin-left: 88px;
    margin-top: -5px;

}


#logo{
   
    width:140px; 
    height: auto;
    position: relative;
    top:77px;
    left:-55px;
}



footer p{
    padding-top: 15px;
    padding-left: 30px;
    font-family: 'Poiret One', cursive;
    font-size:1.6em;
     color:#088;     
}

p.social-fb
{
    background: url(images/icons-social-fb.png) 10px 0px no-repeat;
    background-size: 50px;
    line-height: 50px;
}
p.social-fb a{
    padding-left: 74px;
    text-decoration: none;
color:floralwhite;
}


