#myCarousel div
{
    border:10px solid #088;
    overflow: hidden;
  
}

#myCarousel img{
    max-width: 900px;
    margin: auto;
    margin-top:-200px;
    
}


header {
    margin-top: -50px;
    margin-left: 100px;
   
}

header h1{
    margin-left: -35px;
    white-space: pre;
    font-family: 'Poiret One', cursive;
    text-decoration: underline;
     color:#088;
}
header h2{
    color:#088;
    font-family: 'Comfortaa', cursive;
    font-size: 0.95em;
    margin-left: 115px;
    margin-top: -5px;

}




#logo{
   
    width:140px; /* you can use % */
    height: auto;
    position: relative;
    top:77px;
    left:-55px;

