section h1,section p{
    padding-left: 50px;
}
section#contact{
    background-color:#ff6666 ;
    color:black;
}


#myCarousel div
{
    background-color:#088;
    overflow: hidden;
  
}

#myCarousel img{
    max-width: 900px;
    margin: auto;
    margin-top:-200px;
    
}

nav,nav div, .navbar{
    
    background-color:#a50052; 
    
    margin-bottom: 0px;
    border:0px;
}

#navbar li a{
    font-family: 'Comfortaa', cursive;
    font-size: 1.2em;
    color:black;
}


header {
    margin-top: -50px;
    margin-left: 100px;
   
}

header h1,footer p{
    margin-left: -35px;
    white-space: pre;
    font-family: 'Poiret One', cursive;
    text-decoration: underline;
     color:#088;
}
header h2{
    color:#088;
    font-family: 'Comfortaa', cursive;
    font-size: 0.95em;
    margin-left: 115px;
    margin-top: -5px;

}




#logo{
   
    width:140px; 
    height: auto;
    position: relative;
    top:77px;
    left:-55px;
}

footer{
    padding-top: 15px;
    padding-left: 30px;
}
p.social-fb
{
    background: url(images/icons-social-fb.png) 0 0 no-repeat;
    background-size: 50px;
    line-height: 50px;
}
p.social-fb a{
    padding-left: 20px;
    text-decoration: none;}
