.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.957000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._8{margin-left:-72.846000px;}
._9{margin-left:-24.848000px;}
._0{margin-left:-10.800000px;}
._5{margin-left:-4.356000px;}
._6{margin-left:-1.040800px;}
._7{width:1.002400px;}
._2{width:2.010400px;}
._4{width:3.808000px;}
._3{width:5.158800px;}
._1{width:10.801200px;}
.fc1{color:rgb(0,0,0);}
.fc2{color:rgb(255,153,51);}
.fc0{color:rgb(0,204,255);}
.fs2{font-size:71.996000px;}
.fs1{font-size:72.000000px;}
.fs0{font-size:360.000000px;}
.fs3{font-size:400.000000px;}
.y0{bottom:0.000000px;}
.y11{bottom:26.786500px;}
.y10{bottom:47.594800px;}
.yf{bottom:68.403100px;}
.y24{bottom:72.000000px;}
.y23{bottom:86.901700px;}
.ye{bottom:89.211100px;}
.y22{bottom:107.708800px;}
.y21{bottom:128.516200px;}
.yd{bottom:130.827400px;}
.yc{bottom:151.635700px;}
.y20{bottom:170.130800px;}
.yb{bottom:172.444000px;}
.y1f{bottom:190.938200px;}
.y1e{bottom:211.745600px;}
.y1d{bottom:232.552700px;}
.y1c{bottom:253.360100px;}
.y1b{bottom:265.423200px;}
.ya{bottom:268.553500px;}
.y2e{bottom:289.516500px;}
.y8{bottom:399.361500px;}
.y2d{bottom:410.652800px;}
.y1a{bottom:418.751900px;}
.y7{bottom:420.169500px;}
.y2c{bottom:431.460800px;}
.y19{bottom:439.559600px;}
.y2b{bottom:452.268800px;}
.y18{bottom:460.367300px;}
.y6{bottom:461.785800px;}
.y17{bottom:481.175000px;}
.y5{bottom:482.594100px;}
.y2a{bottom:493.885400px;}
.y4{bottom:503.402400px;}
.y29{bottom:514.693700px;}
.y16{bottom:522.790100px;}
.y3{bottom:524.210700px;}
.y28{bottom:535.501700px;}
.y15{bottom:543.597500px;}
.y2{bottom:545.018700px;}
.y27{bottom:556.309700px;}
.y14{bottom:564.405200px;}
.y26{bottom:577.117700px;}
.y13{bottom:585.212900px;}
.y1{bottom:626.525900px;}
.y25{bottom:668.536700px;}
.y12{bottom:671.398600px;}
.y9{bottom:724.753400px;}
.h5{height:53.061052px;}
.h3{height:53.064000px;}
.h2{height:265.320000px;}
.h7{height:294.800000px;}
.h6{height:690.500000px;}
.h1{height:719.500000px;}
.h4{height:763.500000px;}
.h0{height:792.000000px;}
.w0{width:612.000000px;}
.x0{left:0.000000px;}
.x3{left:3.042100px;}
.x5{left:41.883000px;}
.x9{left:47.487400px;}
.x1{left:50.562100px;}
.x4{left:60.895300px;}
.xa{left:102.887100px;}
.xc{left:126.584500px;}
.xb{left:195.122300px;}
.x2{left:211.714600px;}
.x7{left:215.816600px;}
.x6{left:236.562000px;}
.x8{left:396.345800px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._8{margin-left:-97.128000pt;}
._9{margin-left:-33.130667pt;}
._0{margin-left:-14.400000pt;}
._5{margin-left:-5.808000pt;}
._6{margin-left:-1.387733pt;}
._7{width:1.336533pt;}
._2{width:2.680533pt;}
._4{width:5.077333pt;}
._3{width:6.878400pt;}
._1{width:14.401600pt;}
.fs2{font-size:95.994667pt;}
.fs1{font-size:96.000000pt;}
.fs0{font-size:480.000000pt;}
.fs3{font-size:533.333333pt;}
.y0{bottom:0.000000pt;}
.y11{bottom:35.715333pt;}
.y10{bottom:63.459733pt;}
.yf{bottom:91.204133pt;}
.y24{bottom:96.000000pt;}
.y23{bottom:115.868933pt;}
.ye{bottom:118.948133pt;}
.y22{bottom:143.611733pt;}
.y21{bottom:171.354933pt;}
.yd{bottom:174.436533pt;}
.yc{bottom:202.180933pt;}
.y20{bottom:226.841067pt;}
.yb{bottom:229.925333pt;}
.y1f{bottom:254.584267pt;}
.y1e{bottom:282.327467pt;}
.y1d{bottom:310.070267pt;}
.y1c{bottom:337.813467pt;}
.y1b{bottom:353.897600pt;}
.ya{bottom:358.071333pt;}
.y2e{bottom:386.022000pt;}
.y8{bottom:532.482000pt;}
.y2d{bottom:547.537067pt;}
.y1a{bottom:558.335867pt;}
.y7{bottom:560.226000pt;}
.y2c{bottom:575.281067pt;}
.y19{bottom:586.079467pt;}
.y2b{bottom:603.025067pt;}
.y18{bottom:613.823067pt;}
.y6{bottom:615.714400pt;}
.y17{bottom:641.566667pt;}
.y5{bottom:643.458800pt;}
.y2a{bottom:658.513867pt;}
.y4{bottom:671.203200pt;}
.y29{bottom:686.258267pt;}
.y16{bottom:697.053467pt;}
.y3{bottom:698.947600pt;}
.y28{bottom:714.002267pt;}
.y15{bottom:724.796667pt;}
.y2{bottom:726.691600pt;}
.y27{bottom:741.746267pt;}
.y14{bottom:752.540267pt;}
.y26{bottom:769.490267pt;}
.y13{bottom:780.283867pt;}
.y1{bottom:835.367867pt;}
.y25{bottom:891.382267pt;}
.y12{bottom:895.198133pt;}
.y9{bottom:966.337867pt;}
.h5{height:70.748069pt;}
.h3{height:70.752000pt;}
.h2{height:353.760000pt;}
.h7{height:393.066667pt;}
.h6{height:920.666667pt;}
.h1{height:959.333333pt;}
.h4{height:1018.000000pt;}
.h0{height:1056.000000pt;}
.w0{width:816.000000pt;}
.x0{left:0.000000pt;}
.x3{left:4.056133pt;}
.x5{left:55.844000pt;}
.x9{left:63.316533pt;}
.x1{left:67.416133pt;}
.x4{left:81.193733pt;}
.xa{left:137.182800pt;}
.xc{left:168.779333pt;}
.xb{left:260.163067pt;}
.x2{left:282.286133pt;}
.x7{left:287.755467pt;}
.x6{left:315.416000pt;}
.x8{left:528.461067pt;}
}
