.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.957000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.939000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._a{margin-left:-72.846000px;}
._b{margin-left:-24.848000px;}
._3{margin-left:-10.800000px;}
._0{margin-left:-7.200000px;}
._7{margin-left:-4.356000px;}
._1{margin-left:-1.438400px;}
._8{width:1.002400px;}
._5{width:2.010400px;}
._6{width:3.808000px;}
._9{width:4.808400px;}
._2{width:5.997200px;}
._4{width:10.801200px;}
.fc0{color:rgb(0,204,255);}
.fc4{color:rgb(0,0,0);}
.fc3{color:rgb(255,153,51);}
.fc1{color:rgb(204,204,204);}
.fc2{color:rgb(102,153,255);}
.fs5{font-size:71.996000px;}
.fs1{font-size:72.000000px;}
.fs2{font-size:96.000000px;}
.fs0{font-size:144.000000px;}
.fs4{font-size:360.000000px;}
.fs3{font-size:400.000000px;}
.y7{bottom:0.000000px;}
.y5{bottom:3.000000px;}
.y3{bottom:16.009800px;}
.y4{bottom:17.383200px;}
.y0{bottom:18.000000px;}
.y18{bottom:26.786500px;}
.y17{bottom:47.594800px;}
.y16{bottom:68.403100px;}
.y2b{bottom:72.000000px;}
.y2a{bottom:86.901700px;}
.y15{bottom:89.211100px;}
.y2{bottom:101.706200px;}
.y29{bottom:107.708800px;}
.y28{bottom:128.516200px;}
.y14{bottom:130.827400px;}
.y13{bottom:151.635700px;}
.y27{bottom:170.130800px;}
.y12{bottom:172.444000px;}
.y26{bottom:190.938200px;}
.y1{bottom:207.540000px;}
.y25{bottom:211.745600px;}
.y24{bottom:232.552700px;}
.y23{bottom:253.360100px;}
.y22{bottom:265.423200px;}
.y11{bottom:268.553500px;}
.y35{bottom:289.516500px;}
.yf{bottom:399.361500px;}
.y34{bottom:410.652800px;}
.y21{bottom:418.751900px;}
.ye{bottom:420.169500px;}
.y33{bottom:431.460800px;}
.y20{bottom:439.559600px;}
.y32{bottom:452.268800px;}
.y1f{bottom:460.367300px;}
.yd{bottom:461.785800px;}
.y1e{bottom:481.175000px;}
.yc{bottom:482.594100px;}
.y31{bottom:493.885400px;}
.yb{bottom:503.402400px;}
.y30{bottom:514.693700px;}
.y1d{bottom:522.790100px;}
.ya{bottom:524.210700px;}
.y2f{bottom:535.501700px;}
.y1c{bottom:543.597500px;}
.y9{bottom:545.018700px;}
.y2e{bottom:556.309700px;}
.y1b{bottom:564.405200px;}
.y2d{bottom:577.117700px;}
.y1a{bottom:585.212900px;}
.y8{bottom:626.525900px;}
.y2c{bottom:668.536700px;}
.y19{bottom:671.398600px;}
.y6{bottom:716.165000px;}
.y10{bottom:724.753400px;}
.h3{height:52.416000px;}
.hb{height:53.061052px;}
.h9{height:53.064000px;}
.h4{height:70.752000px;}
.h2{height:106.128000px;}
.h8{height:265.320000px;}
.h6{height:294.800000px;}
.h5{height:681.000000px;}
.hc{height:690.500000px;}
.h7{height:719.500000px;}
.ha{height:763.500000px;}
.h1{height:764.000000px;}
.h0{height:792.000000px;}
.w2{width:541.500000px;}
.w1{width:588.000000px;}
.w0{width:612.000000px;}
.x6{left:0.000000px;}
.x9{left:3.042100px;}
.x0{left:12.000000px;}
.xb{left:41.883000px;}
.xf{left:47.487400px;}
.x7{left:50.562100px;}
.xa{left:60.895300px;}
.x3{left:63.888400px;}
.x10{left:102.887100px;}
.x2{left:117.603800px;}
.x12{left:126.584500px;}
.x1{left:160.698600px;}
.x5{left:178.242200px;}
.x11{left:195.122300px;}
.x8{left:211.714600px;}
.xd{left:215.816600px;}
.xc{left:236.562000px;}
.x4{left:388.898400px;}
.xe{left:396.345800px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._a{margin-left:-97.128000pt;}
._b{margin-left:-33.130667pt;}
._3{margin-left:-14.400000pt;}
._0{margin-left:-9.600000pt;}
._7{margin-left:-5.808000pt;}
._1{margin-left:-1.917867pt;}
._8{width:1.336533pt;}
._5{width:2.680533pt;}
._6{width:5.077333pt;}
._9{width:6.411200pt;}
._2{width:7.996267pt;}
._4{width:14.401600pt;}
.fs5{font-size:95.994667pt;}
.fs1{font-size:96.000000pt;}
.fs2{font-size:128.000000pt;}
.fs0{font-size:192.000000pt;}
.fs4{font-size:480.000000pt;}
.fs3{font-size:533.333333pt;}
.y7{bottom:0.000000pt;}
.y5{bottom:4.000000pt;}
.y3{bottom:21.346400pt;}
.y4{bottom:23.177600pt;}
.y0{bottom:24.000000pt;}
.y18{bottom:35.715333pt;}
.y17{bottom:63.459733pt;}
.y16{bottom:91.204133pt;}
.y2b{bottom:96.000000pt;}
.y2a{bottom:115.868933pt;}
.y15{bottom:118.948133pt;}
.y2{bottom:135.608267pt;}
.y29{bottom:143.611733pt;}
.y28{bottom:171.354933pt;}
.y14{bottom:174.436533pt;}
.y13{bottom:202.180933pt;}
.y27{bottom:226.841067pt;}
.y12{bottom:229.925333pt;}
.y26{bottom:254.584267pt;}
.y1{bottom:276.720000pt;}
.y25{bottom:282.327467pt;}
.y24{bottom:310.070267pt;}
.y23{bottom:337.813467pt;}
.y22{bottom:353.897600pt;}
.y11{bottom:358.071333pt;}
.y35{bottom:386.022000pt;}
.yf{bottom:532.482000pt;}
.y34{bottom:547.537067pt;}
.y21{bottom:558.335867pt;}
.ye{bottom:560.226000pt;}
.y33{bottom:575.281067pt;}
.y20{bottom:586.079467pt;}
.y32{bottom:603.025067pt;}
.y1f{bottom:613.823067pt;}
.yd{bottom:615.714400pt;}
.y1e{bottom:641.566667pt;}
.yc{bottom:643.458800pt;}
.y31{bottom:658.513867pt;}
.yb{bottom:671.203200pt;}
.y30{bottom:686.258267pt;}
.y1d{bottom:697.053467pt;}
.ya{bottom:698.947600pt;}
.y2f{bottom:714.002267pt;}
.y1c{bottom:724.796667pt;}
.y9{bottom:726.691600pt;}
.y2e{bottom:741.746267pt;}
.y1b{bottom:752.540267pt;}
.y2d{bottom:769.490267pt;}
.y1a{bottom:780.283867pt;}
.y8{bottom:835.367867pt;}
.y2c{bottom:891.382267pt;}
.y19{bottom:895.198133pt;}
.y6{bottom:954.886667pt;}
.y10{bottom:966.337867pt;}
.h3{height:69.888000pt;}
.hb{height:70.748069pt;}
.h9{height:70.752000pt;}
.h4{height:94.336000pt;}
.h2{height:141.504000pt;}
.h8{height:353.760000pt;}
.h6{height:393.066667pt;}
.h5{height:908.000000pt;}
.hc{height:920.666667pt;}
.h7{height:959.333333pt;}
.ha{height:1018.000000pt;}
.h1{height:1018.666667pt;}
.h0{height:1056.000000pt;}
.w2{width:722.000000pt;}
.w1{width:784.000000pt;}
.w0{width:816.000000pt;}
.x6{left:0.000000pt;}
.x9{left:4.056133pt;}
.x0{left:16.000000pt;}
.xb{left:55.844000pt;}
.xf{left:63.316533pt;}
.x7{left:67.416133pt;}
.xa{left:81.193733pt;}
.x3{left:85.184533pt;}
.x10{left:137.182800pt;}
.x2{left:156.805067pt;}
.x12{left:168.779333pt;}
.x1{left:214.264800pt;}
.x5{left:237.656267pt;}
.x11{left:260.163067pt;}
.x8{left:282.286133pt;}
.xd{left:287.755467pt;}
.xc{left:315.416000pt;}
.x4{left:518.531200pt;}
.xe{left:528.461067pt;}
}
